.titleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    padding: 20 20px;
    width: 100%;
    height: 118px;
    right: 0;
    top: 0;
    color: white;
    animation: headerAnimation 4s forwards;
}

.logo {
    height: 100%;
    width: auto;
    margin: 50;
}

.categoriesContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    align-self: flex-start;
    opacity: 0; /* Commencez avec une opacité de 0 */
    transition: opacity 0.5s ease-in; /* Ajoutez une transition pour l'opacité */
}

.categoriesVisible {
    align-self: center;
    opacity: 1;
}

.logoPointer {
    
    cursor: pointer;
}

.rightPart {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    margin-right: 20px;
    opacity: 0; /* Commencer avec une opacité de 0 */
    transition: opacity 0.5s ease-in; /* Ajouter une transition pour l'opacité */
}

.rightPartVisible {
    opacity: 1;
}


.iconContainer {
    display: flex; /* Ajout de display: flex */
    align-items: center;
    justify-content: center;
    height: 80px; /* Ajout d'une hauteur fixe */
    width: 80px; /* Ajout d'une largeur fixe */
    font-size: 40px;
    cursor: pointer;
}

.PriceDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    font-family: Inconsolata, monospace;
}


@keyframes headerAnimation {
    0% {
        height: 100vh;
        transform: translateX(5%);
        
    }
    60% {
        height: 100vh;
        transform: translateX(5%);
        
    }
    100% {
        height: 80px;
        transform: translateX(0);
    }
}

/* New class to set cursor to pointer */
.pointerCursor {
    cursor: pointer;
}



@media (max-width: 1000px) {
    .rightPart {
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
        

        
    }

    .titleDiv {
        justify-content: center;
        width: fit-content;
        max-width: 90vw;
        animation: none;
        padding: 0;
    }

    .PriceDiv {
        font-size: 22px;
    }

}