.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  background-color: var(--blue-dark);
  color: white;
  z-index: -30;
  overflow: hidden;
  border: seagreen 1px solid;
}

.main h1 {
  font-size: 13vw;
  font-weight: 400;
  font-family: "AllertaStencil";
  z-index: 1;
  
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}

.titleDiv {
  align-self: start;
  justify-self: flex-start;
  margin: auto;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: var(--gradient);
  z-index: 0;
  scale: 0.15;
  animation: titleAnimation 10s ease-in-out;
  border: red 1px solid;
}

.titleDiv::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Ajustez si nécessaire */
  height: 70%; /* Ajustez si nécessaire */
  opacity: 0.6;
  background: linear-gradient(160deg, var(--main-purple) 0%, var(--main-blue) 100%);
  filter: blur(130px);
  border-radius: 50%;
  z-index: -2;
}


.subtitleDiv{
  position: absolute;
  font-size: 1.4vw;
  top: 62%;
  left: 45%;
  font-family: "Inconsolata";
  font-weight: 600;
  color: transparent;
  
  animation: subtitleAnimation 10s ease-in;
}

.mainLogo{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 10%;
  left: 40%;
  z-index: -1;
}

.bouttonContainer{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  left: 25%;
  justify-self: center;
  margin: auto;
}

.button{
  font-size: 2vw;
}

@keyframes titleAnimation {
  0% {
    transform: scale(10);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes subtitleAnimation {
  0% {
    color: white;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
  }
  100% {
    color: transparent;
    text-shadow: 0px 2px 3px transparent;
  }
  
}