.container {
    position: absolute;
    top: 0;
    right: 0;
    width:0px;
    height: 100%;
    z-index: 100;
}

.burgerMenuContainer {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 100;
}

.burgerMenuContainer:hover {
    cursor: pointer;
}

.menuContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: var(--blue-med-dark);
    z-index: 101;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
} 

.menuButton {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    font-family: "Inconsolata", monospace;
    color: white;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 7px;
    cursor: pointer;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.closeButton {
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: flex-end;
    margin-top: 10px;
}

.closeButtonIcon {
    color: white;
    font-size: 2rem;
}

.closeButton:hover {
    cursor: pointer;
}

.closeButton:hover .closeButtonIcon {
    color: var(--purple-light);
}

.menuContainerOpen {
    right: 0; /* Glisse vers la gauche */
    animation-name: slideIn;
}

.menuContainerClose {
    right: -100%; /* Glisse vers la droite */
    animation-name: slideOut;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}