/* header.module.css */
.logo {
    display: flex;
    height: 100%;
    width: auto;
    align-self: center; /* Change to center */
    margin: 0; /* Removing auto margin */
    position: absolute;
}

.titleDiv {
    display: flex;
    flex-direction: row; /* Change to row to align items horizontally */
    width: 100vw;
    padding: 0;
    height: 80px;
    color: white;
    animation: headerAnimation 2s forwards;
}

@keyframes headerAnimation {
    0% {
        height: 100vh;
        transform: translateX(5%);
        
    }
    20% {
        height: 100vh;
        transform: translateX(5%);
        
    }
    100% {
        height: 120px;
        transform: translateX(0);
    }
}

/* New class to set cursor to pointer */
.pointerCursor {
    cursor: pointer;
}
