.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: auto;
  min-height: 100vh;
  background-color: var(--blue-dark);
  color: white;
  overflow: hidden; 
}

.main h1 {
  font-size: 13vw;
  font-weight: 400;
  font-family: "AllertaStencil";
  z-index: 1;
  
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}

.titleDiv {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: var(--gradient);
  z-index: 0;
}

.titleDiv::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Ajustez si nécessaire */
  height: 70%; /* Ajustez si nécessaire */
  opacity: 0.7;
  background: linear-gradient(160deg, var(--main-purple) 0%, var(--main-blue) 100%);
  filter: blur(130px);
  z-index: -2;
}


.subtitleDiv{
  position: absolute;
  font-size: 1.4vw;
  top: 62%;
  left: 45%;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}

.mainLogo{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 10%;
  left: 40%;
  z-index: -1;
}

.bouttonContainer{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  left: 25%;
  justify-self: center;
  margin: auto;
}

.button{
  font-size: 2vw;
  color: white;
  text-decoration: none;
}

.txtLink{
  color: var(--main-purple);
  font-weight: 600;
  /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); */
  padding: 0 0.25em;
  
}

.txtLink:hover{
  color: var(--purple-light);
  cursor: pointer;
}

.pragraphContainer {
  width: 35vw;
  position: relative;
  /* Assure que le pseudo-élément ::before est positionné relativement à ce conteneur */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  z-index: 1;
  /* Place le conteneur au-dessus de ::before */
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 60px;
}

.pragraphContainer::before {
  content: '';
  /* Nécessaire pour les pseudo-éléments ::before et ::after */
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translateX(-50%) rotate(-180deg);
  /* Centre horizontalement et applique la rotation */
  width: 60vw;
  height: 170%;
  opacity: 0.6;
  background: linear-gradient(160deg, var(--main-purple) 0%, var(--main-blue) 100%);
  /* Exemple de dégradé, ajuster les couleurs réelles */
  filter: blur(130px);
  /* Ajustez le niveau de flou selon les spécifications réelles */
  border-radius: 50%;
  z-index: -1;
  /* Place le pseudo-élément derrière le conteneur */

}

.presentationTitle {
  text-align: left;
  margin-top: 5vw;
  margin-bottom: 3vw;
  justify-self: flex-start;
  text-decoration: underline;
}

.txt {
  font-size: 20px;
  text-align: left;
  margin-left: 1vw;
  font-weight: 400;
  line-height: 25px;
}

.pragraphContainer:nth-child(2) {
  align-self: flex-end;
}

.pragraphContainer:nth-child(2)::before {

  background: linear-gradient(300deg, var(--main-purple) 0%, var(--main-blue) 100%);
  /* Exemple de dégradé, ajuster les couleurs réelles */

}

.pragraphContainer:nth-child(3) {
  margin-left: 300px;
  width: 50vw;
}

.pragraphContainer:nth-child(3)::before {
  width: 70vw;
  background: linear-gradient(350deg, var(--main-purple) 0%, var(--main-blue) 100%);
  /* Exemple de dégradé, ajuster les couleurs réelles */

}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 60px;
  flex-grow: 1; 
}


@media (max-width: 1000px) {



  .txt-container {
      width: 100%;
  }

  .txt {
      margin-left: 0px;
      line-height: 20px;
  }
  .pragraphContainer{
      width: 70vw;
      margin: auto;
      margin-top: 40px;
  }

  .pragraphContainer:nth-child(3) {
      margin-left: auto;
      width: 70vw;
  }
}
